
/*расписываем head.inner. При уменьшении размера экрана (планшеты, смартфоны) нам необходимо,
чтобы меню с навигацией переносилось под кнопки регистрации. Еесли этого не сделать, то надписи будут 
наезжать друг на друга и получится каша.

Чтобы меню переходило за кнопки, приписываем ему ордер 1* 

Ширина 100% переносит меню на следующую строкую.Паддинг не дает прилипать контенту к украну монитора

Через топ иннер исключаем картинку
*/

@media (max-width: 1240px){
.team__item--4{
left: 275px;
}
}


@media (max-width: 1174px){
.slider__item-img{
width: 100%;
height: 250px;
    }

.slider{
margin: 0;
}

.slider__item{
    padding: 10px;
}
    



}



@media (max-width: 1040px){
.team__item--5{
bottom: 100px;
}
}







@media (max-width: 992px){
.header__inner{
    flex-wrap: wrap;
    height: auto;
    padding-top: 25px; 
}
.menu{
    order: 1;
    width: 100%;
}
.menu__list{
justify-content: flex-end;
padding-top: 30px;
}

.top__inner{
background-image: none;
}

.tools__items{
flex-wrap: wrap;
}

.tools__item{
width: 50%;
margin-bottom: 30px;
padding-right: 10px;
}

.direction__item-img{
width: 40%;
}

}


@media (max-width: 860px){

.direction__item-img{
width: 80%;
margin: 0 auto 30px;
order: -1;
}

.direction__item{
flex-wrap: wrap;
}

.direction__item-content{
min-width: 100%;
}

.team__item{
display: none;
}

.team__inner{
padding: 80px 0;
}

.footer__inner{
flex-wrap: wrap;
}

.footer__form{
    width: 100%;
    margin-top: 25px;
}

}




/*При уменьшении экрана задаем свойства section class="top"
 Исключаем ее из поля видимости. Исключаем картинку.*/


 @media (max-width: 768px){

.top__innerб
.direction,
.blog {
padding: 80px 0 60px;
}

.tools{
padding-top: 80px;
}

.tools__inner{
    padding-bottom: 60px;
}

 }




/*Разрабатываем новые медиа-запросы при дальнейшем уменьшении экрана
Задаем header__inner свойство display: block. 

Исключаем меню навигации из
поля видимости.


После заниманиемся кнопками регистрации (.user-nav)
*/

@media (max-width: 524px){
.header__inner{
display: block;
}
 .menu__list{
display: block;
position: absolute;
left: 0;
right: 0;
background-color: #fff;
text-align: center;
transition: all .5s;
transform: translateY(-300%)
}

.menu__list.menu__list--active{
transform: translateY(0%);
transition: all .5s;
}

.menu__list-link{
    display: block;
    padding: 10px 0;
}

.menu__btn{
display: block;
position: absolute;
right: 10px;
top: 25px;

}

.user-nav{
margin-left: 0;
margin-right: 0;
text-align: center;
padding-top: 30px;
}

.menu__list-item+.menu__list-item{
    margin-left: 0;
}

.top__title {
    font-size: 28px;
    line-height: 32px;
}


.top__btn{
margin-bottom: 25px;
}

.top__link{
    margin-top: 25px;
}

.tools__item{
    width: 100%;
}


.tools__title,
.direction__item-title,
.team__title,
.blog__title {
    font-size: 24px;
    line-height: 30px;
}

.direction__item{
margin-bottom: 40px;
}

.slider__item{
    padding: 0;
}
.footer .logo{
    width: 100%;
    margin-bottom: 25px;
}
.footer__inner{
    justify-content: space-around;
}

}








   
   
   
   
   